.classForHw12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.superSelect {
    margin: 100px;
}

.lime {
    background: yellow;
    border: 2px solid green;
    border-radius: 4%;
}

.lime-text {
    color: green;
}

.light {
    background: white;
    border: 2px solid black;
    border-radius: 4%;
}

.light-text {
    color: black;
}

.dark {
    background: dimgrey;
    border: 2px solid aliceblue;
    border-radius: 4%;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
    border: 2px solid aqua;
    border-radius: 4%;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
    border: 2px solid darkslateblue;
    border-radius: 4%;
}

.some-text {
    color: darkslateblue;
}