.default {
    border: 2px skyblue dot-dot-dash;
    color: aliceblue;
    padding: 0.25em 0.5em;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 15px;
}

.red {
    background: red;
    margin-bottom: 15px;
    font-weight: bold;
}